.first:hover{
    transform:scale(0.5);
}
.second:hover{
    transform:rotate(45deg);
}
.third:hover{
    transform:translate(50px);
}
div{
    text-align: center;
}
.fourth:hover{
    transform:skew(-20deg);
}
h1 {
    text-align: center;
    animation: h1 4s linear infinite;
}
