form{
    background-color: indigo;
    width: 460px;
    height: 400px;
    margin: auto;
    font-size: 1.2em;
    color: rgba(255,255,255,1);
}
p{
    text-align: center;
    font-weight: bold;
}
label{
    display: inline-block;
    width: 12em;
    vertical-align: top;
    text-align: left;
    margin-bottom: 12px;
    margin-right: 7px;
    margin-left: 10px;
}
.butt{
    background-color: navy;
    box-shadow: 0 0 4px white;
    color: rgba(255,255,255,1);
}
input{
    background-color: rgba(255,255,255,.5);
    box-shadow: inset 0 0 10px rgba(255,255,255, .75);
    border-radius: 5px;
}

.no {
    background-color: rgba(255,255,255,.5);
    box-shadow: inset 0 0 10px rgba(255,255,255, .75);
}   
input:focus {
    background-color: black;
    color: white;
}
.no:focus{
    background-color: rgba(255,255,255,.5);
    box-shadow: inset 0 0 10px rgba(255,255,255, .75);
}
input[type="date"]{
    background-color: white;
    border-radius: 0px;
}