article, header {
  padding: 10px;
}

a {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  
  border: solid red 2px;
  display: inline-block;
  height: 48px;
  text-align: center;
  line-height: 48px;
  padding: 0px 10px;

}

nav a {

  margin-left:10px;
  margin-top:30px;
}

div {
  display: inline-block;
}

header nav {
  float: right;
}
header .logo {
  margin-right: 100px;
  width: 200px;
  height: 66.6666666667px px;
}

article {
  width: 69%;
  display: inline-block;
}
article h1 {
  text-align: center;
  clear: both;
  font-size: 20pt;
}
article .div12 {
  text-align: center;
  font-size: 15pt;
  width: 30%;
  position: relative;
  align-items: flex-start;
  float: left;
  margin-right: 3.3333333333%;
}
article .div3 {
  text-align: center;
  font-size: 15pt;
  width: 30%;
  position: relative;
  align-items: flex-start;
  float: left;
}
article img {
  width: 23%;
  height: 200px;
  margin-right: 5px;
  margin-left: 5px;
}

aside {
  float: right;
  width: 29%;
}
aside form {
  display: inline-block;
  margin-top: 45px;
}
aside form label {
  display: block;
  width: 150px;
  text-align: left;
  margin-bottom: 15px;
  display: inline-block;
  color: red;
  size: 1.2em;
}
aside form input[type=text] {
  color: black;
  size: 1.2em;
  border-radius: 4px;
  width: 200px;
}
aside form input[type=email] {
  color: black;
  size: 1.2em;
  border-radius: 4px;
  width: 200px;
}
aside form button {
  background-color: rgb(117, 19, 19);
  color: white;
  padding: 10px;
  border-radius: 6px;
}
aside img {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 5px;
}
aside .div56 {
  text-align: left;
  margin-bottom: 10px;
}

footer {
  background-color: gray;
}
footer p {
  text-align: left;
  color: rgb(255, 255, 255);
  font-size: 10pt;
}